In [2]:

import os

import numpy as np

import pandas as pd

from sklearn.model_selection import train_test_split

In [3]:
PROJECT_DIR = r"C:\Users\gyash\Desktop\campusX\PROJECT\Sagemaker Flight Price Predictor"
DATA_DIR = "Dataset"

In [4]:
def get_data(name):
	file_name = f"{name}.csv"
	file_path = os.path.join(PROJECT_DIR, DATA_DIR, file_name)
	return pd.read_csv(file_path)

In [5]:
flights = get_data("flight_price")
flights.sample(5)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
4067,Jet Airways,27/03/2019,Delhi,Cochin,DEL → BOM → COK,11:30,04:25 28 Mar,16h 55m,1 stop,No info,12242
4133,Air India,06/03/2019,Banglore,New Delhi,BLR → BOM → UDR → DEL,08:50,16:30 07 Mar,31h 40m,2 stops,No info,14143
9953,Jet Airways,12/03/2019,Banglore,New Delhi,BLR → BOM → DEL,05:45,08:15 13 Mar,26h 30m,1 stop,No info,12547
4705,Jet Airways,27/03/2019,Delhi,Cochin,DEL → MAA → BOM → COK,05:10,18:50,13h 40m,2 stops,In-flight meal not included,8728
7170,Jet Airways,27/05/2019,Delhi,Cochin,DEL → BOM → COK,02:15,12:35,10h 20m,1 stop,No info,16376

In [6]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [7]:
flights.loc[flights.Total_Stops.isnull()]

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
9039,Air India,6/05/2019,Delhi,Cochin,NaN,09:45,09:25 07 May,23h 40m,NaN,No info,7480

In [8]:
flights.dtypes

Airline            object
Date_of_Journey    object
Source             object
Destination        object
Route              object
Dep_Time           object
Arrival_Time       object
Duration           object
Total_Stops        object
Additional_Info    object
Price               int64
dtype: object

In [9]:
flights.Date_of_Journey.loc[89]

'24/05/2019'

In [10]:
flights.Dep_Time.iloc[89]

'20:25'

In [11]:
flights.Arrival_Time.iloc[89]

'14:25 25 May'

In [12]:
flights.Total_Stops.iloc[99]

'2 stops'

In [13]:
flights.Duration.iloc[90]

'9h 15m'

In [14]:
(
    flights
    .loc[flights.duplicated(keep = False)]
    .sort_values(by = ['Airline',"Date_of_Journey",'Source','Destination'])
)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
6321,Air India,01/03/2019,Banglore,New Delhi,BLR → BOM → AMD → DEL,08:50,23:55 02 Mar,39h 5m,2 stops,No info,17135
9848,Air India,01/03/2019,Banglore,New Delhi,BLR → BOM → AMD → DEL,08:50,23:55 02 Mar,39h 5m,2 stops,No info,17135
572,Air India,03/03/2019,Banglore,New Delhi,BLR → DEL,21:10,23:55,2h 45m,non-stop,No info,7591
8168,Air India,03/03/2019,Banglore,New Delhi,BLR → DEL,21:10,23:55,2h 45m,non-stop,No info,7591
1495,Air India,1/04/2019,Kolkata,Banglore,CCU → DEL → COK → BLR,10:00,01:20 02 Apr,15h 20m,2 stops,No info,10408
...,...,...,...,...,...,...,...,...,...,...,...
2692,SpiceJet,24/03/2019,Banglore,New Delhi,BLR → DEL,05:45,08:35,2h 50m,non-stop,No check-in baggage included,4273
2870,SpiceJet,24/03/2019,Banglore,New Delhi,BLR → DEL,05:45,08:35,2h 50m,non-stop,No check-in baggage included,4273
3711,SpiceJet,24/03/2019,Banglore,New Delhi,BLR → DEL,20:30,23:20,2h 50m,non-stop,No check-in baggage included,3873
2634,Vistara,24/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,5403
5470,Vistara,24/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,5403

Observation
- The datatype of column 'Date_of_Journey','Dep_Time', and 'Arrival_Time' are to change to Date time.
- there are 220 duplicate value so we need to remove it.
- the datatype of columns 'Duration' and 'Total_Stops' should be numeric.

In [15]:
flights.Airline.unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [16]:
flights.Date_of_Journey

0        24/03/2019
1         1/05/2019
2         9/06/2019
3        12/05/2019
4        01/03/2019
            ...
10678     9/04/2019
10679    27/04/2019
10680    27/04/2019
10681    01/03/2019
10682     9/05/2019
Name: Date_of_Journey, Length: 10683, dtype: object

In [17]:
flights.Source.unique()

array(['Banglore', 'Kolkata', 'Delhi', 'Chennai', 'Mumbai'], dtype=object)

In [18]:
flights.Destination.unique()

array(['New Delhi', 'Banglore', 'Cochin', 'Kolkata', 'Delhi', 'Hyderabad'],
      dtype=object)

In [19]:
pd.to_datetime(flights.Dep_Time,format = "%H:%M").dt.time

0        22:20:00
1        05:50:00
2        09:25:00
3        18:05:00
4        16:50:00
           ...
10678    19:55:00
10679    20:45:00
10680    08:20:00
10681    11:30:00
10682    10:55:00
Name: Dep_Time, Length: 10683, dtype: object

In [20]:
flights.Arrival_Time.str.split(' ',n = 1).str[0]

0        01:10
1        13:15
2        04:25
3        23:30
4        21:35
         ...
10678    22:25
10679    23:20
10680    11:20
10681    14:10
10682    19:15
Name: Arrival_Time, Length: 10683, dtype: object

In [21]:
flights[~flights.Duration.str.contains('h')]

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
6474,Air India,6/03/2019,Mumbai,Hyderabad,BOM → GOI → PNQ → HYD,16:50,16:55,5m,2 stops,No info,17327

In [22]:
def hour_to_minutes(ser):
    return (
        ser
        .str.split(" ",expand = True)
         .set_axis(['hour','minutes'],axis = 1)
         .assign(
            hour = lambda df_ : (
                df_
                .hour.str.replace('h','')
                .astype(int)
                .mul(60)
            ),
            minutes = lambda df_ : (
                df_
                .minutes.str.replace('m','')
                .fillna('0')
                .astype(int)
            )
         )
        .sum(axis = 1)
        )

In [23]:
flights.Total_Stops.unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [24]:
(
    flights
    .Total_Stops.str.replace('non-stop','0')
    .str.replace('stops','')
    .str.replace('stop','')
    .astype(int,errors = 'ignore')
)

0         0
1        2
2        2
3        1
4        1
         ..
10678     0
10679     0
10680     0
10681     0
10682    2
Name: Total_Stops, Length: 10683, dtype: object

In [25]:
def clean_data(df):
    return (
        df
        .drop(index=[6474])
        .assign(**{col : df[col].str.strip()
                 for col in df.select_dtypes("O").columns})
        .rename(columns = {col : col.lower() for col in df.columns})
        .drop_duplicates()
        .assign(
            airline  = lambda df_ : (
                df_
                .airline
                .str.replace(" Premium economy",'')
                .str.replace(' Business','')
                .str.title()
            ),
            date_of_journey = lambda df_ : pd.to_datetime(df_.date_of_journey,dayfirst = True),
            dep_time = lambda df_ : pd.to_datetime(df_.dep_time,format = "%H:%M").dt.time,
            arrival_time = lambda df_ : (
                pd.to_datetime(df_.arrival_time.str.split(" ",n = 1).str[0],format = "%H:%M").dt.time
            ),
            duration = lambda df_ : df_.duration.pipe(hour_to_minutes),
            total_stops = lambda df_ : (
                df_
                .total_stops.str.replace('non-stop','0')
                .str.replace('stops','')
                .str.replace('stop','')
                .astype(int,errors = 'ignore')
            ) 
        )
        .drop(columns = ['route'])
        .dropna() 
    )

In [26]:
clean_flight = clean_data(flights) #.dropna().isnull().sum()

In [27]:
clean_flight

,airline,date_of_journey,source,destination,dep_time,arrival_time,duration,total_stops,additional_info,price
0,Indigo,2019-03-24,Banglore,New Delhi,22:20:00,01:10:00,170,0,No info,3897
1,Air India,2019-05-01,Kolkata,Banglore,05:50:00,13:15:00,445,2,No info,7662
2,Jet Airways,2019-06-09,Delhi,Cochin,09:25:00,04:25:00,1140,2,No info,13882
3,Indigo,2019-05-12,Kolkata,Banglore,18:05:00,23:30:00,325,1,No info,6218
4,Indigo,2019-03-01,Banglore,New Delhi,16:50:00,21:35:00,285,1,No info,13302
...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,2019-04-09,Kolkata,Banglore,19:55:00,22:25:00,150,0,No info,4107
10679,Air India,2019-04-27,Kolkata,Banglore,20:45:00,23:20:00,155,0,No info,4145
10680,Jet Airways,2019-04-27,Banglore,Delhi,08:20:00,11:20:00,180,0,No info,7229
10681,Vistara,2019-03-01,Banglore,New Delhi,11:30:00,14:10:00,160,0,No info,12648
10682,Air India,2019-05-09,Delhi,Cochin,10:55:00,19:15:00,500,2,No info,11753

In [29]:
y = clean_flight.price
x = clean_flight.drop(columns = 'price')

In [30]:
x_,x_test,y_,y_test = train_test_split(x,y,test_size = 0.2,random_state = 42)

In [31]:
x_train,x_val,y_train,y_val = train_test_split(x_,y_,test_size = 0.2,random_state = 42)

In [39]:
print('xtrain : ' , x_train.shape)
print('xtest : ' , x_test.shape)
print('xval : ' , x_val.shape)

xtrain :  (6694, 9)
xtest :  (2093, 9)
xval :  (1674, 9)

In [34]:
def export_data(name,x,y):
    path = os.path.join(PROJECT_DIR,DATA_DIR,f'{name}.csv')
    x.join(y).to_csv(path,index = False)
    return pd.read_csv(path).head()

In [40]:
export_data('test_data',x_test,y_test)
export_data('train_data',x_train,y_train)
export_data('val_data',x_val,y_val)

,airline,date_of_journey,source,destination,dep_time,arrival_time,duration,total_stops,additional_info,price
0,Jet Airways,2019-05-27,Delhi,Cochin,09:00:00,19:00:00,600,1,In-flight meal not included,10675
1,Jet Airways,2019-05-24,Kolkata,Banglore,18:55:00,10:05:00,910,1,In-flight meal not included,8586
2,Jet Airways,2019-03-18,Banglore,New Delhi,21:25:00,09:30:00,725,1,No info,13555
3,Spicejet,2019-06-27,Chennai,Kolkata,17:45:00,20:05:00,140,0,No check-in baggage included,3543
4,Air Asia,2019-05-15,Kolkata,Banglore,07:35:00,19:25:00,710,1,No info,5192